body {
    background-color: sandybrown;
    color: black;
    font-family: monospace;
}

img {
    height: 230px;
    width: auto;
    margin-bottom: 1em;

}

h1 {
  font-size: 40px;
}

#order {
  margin-left: 5em;
}
